
#files
guidelines

# Unit test / coverage reports
.pytest_cache/


# environment variables
.env
Pipfile
Pipfile.lock

# Bytecode files
*.pyc
__pycache__/


# Database 
db.sqlite3


# Migrations files
migrations/


# IDE and editor files
.idea/
.vscode/

